body{
	padding: 0px;
	margin: 0px;
	font-style: 1em;
}
.site_header{
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 30px;
	background-color: #ddd;
}
.site_body{
	width: 80%;
	margin: auto;
	letter-spacing: 1px;
	text-align: justify;
	min-height: 300px;
}
.site_footer{
	text-align: center;
	background-color: #eee;
	padding-bottom: 10px;
	padding-top: 10px;
}